version: '3.8'

services:
  blogapp:
    build: blogapp
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - blogapp:/blogapp/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - postgres
    container_name: 'blog_app_django'
  postgres:
    image: postgres:14.0
    ports:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=cascada
      - POSTGRES_DB=dbtest
    container_name: 'blog_app_postgres'
  redis:
    image: redis
    container_name: 'blog_app_redis'

volumes:
  blogapp:
  postgres_data: