{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block style %}

{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <!--Login-->
    <div class="container py-5">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Log In</button>
        </form>
        <p class="text-center">If you do not have an account, <a href="{% url 'register' %}">register</a> instead.</p>
    </div>
{% endblock %}

